.container {
  padding: 40px 20px 20px 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card_item {
  text-align: center;
  flex: 0 0 auto;
}

.container .card_item:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
  cursor: pointer;
}

.container .card_inner {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 35px 20px;
  width: 280px;
  min-height: 315px;
  max-height: 370px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .card_item img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
  margin: auto;
  transition: transform 0.2s;
}

.container .card_item .userName {
  color: #222222;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 25px;
  }
  .container .card_inner {
    width: 260px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: 20px;
  }
  .container .card_inner {
    width: 240px;
  }
}

@media screen and (max-width: 568px) {
  .container {
    gap: 20px;
  }
  .container .card_inner {
    width: 100%;
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .container .card_inner {
    width: 100%;
  }
}
