<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation</title>
  </head>
  <body>
    <h1>Activation</h1>
    <p>Hi, {{ $name }}</p>
    <p>
      Thanks for registering on our website. Please click on the link below to
      activate your account.
    </p>
    <a href="{{ $link }}">Activate</a>
    <p>Regards,</p>
    <p>Team</p>
    <p>
      Your account has been successfully activated. You can now
      <a href="http://localhost:3000/">return to the frontend</a>.
    </p>
  </body>
</html>
